<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>RSS Reader</title>
</head>
<body>
<h1>RSS Reader</h1>
<hr>
<div class="form" style="width: 100%; display: flex; align-items: center; padding: 20px">
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">Отправить</button>
		{% if status %}
			<h3>{{ status }}</h3>
		{% endif %}
	</form>
</div>
<hr>
<h2>RSS'es</h2>
{% for rss in rsses %}
	<a><div style="border: solid 2px black; padding: 20px">
		<h3>{% if rss.title %}
			{{ rss.title }}
		{% else %}
			RSS #{{ forloop.counter }}
		{% endif %}</h3>
		<small> {{ rss.link }} </small>
		</h3>
	</div></a>
{% endfor %}
</body>
</html>